%img.media-object.img-rounded{ src: @user.avatar, alt: "Avatar" }
= form_for @user do |f|
  .caption
    %h3.text-primary Your avatar
  .form-group
    = f.file_field :avatar
  %button.btn.btn-primary{ type: "submit" } Load

