<table>
  <th>Nickname</th>
  <th>Email</th>
  <th>Posts</th>
  <th>Comments</th>
  <% @users.each do |user| %>
    <% user_posts = user.posts.where(published_at:
      @params["start_date"].to_date..@params["end_date"].to_date) %>
    <% user_comments = user.comments.where(published_at:
      @params["start_date"].to_date..@params["end_date"].to_date) %>
    <tr> 
      <td><%= user.nickname %></td>
      <td><%= user.email %></td>
      <td><%= user_posts.count %></td>
      <td><%= user_comments.count %></td>
    </tr>
  <% end %>
</table>