<table>
  <th>Nickname</th>
  <th>Email</th>
  <th>Posts</th>
  <th>Comments</th>

  <% users_posts = @users[0] %>
  <% users_commentss = @users[1] %>
  <% users_posts.each do |user| %>
    <% user_posts = user["qc"] %>
    
    <tr> 
      <td><%= user["nickname"] %></td>
      <td><%= user["email"] %></td>
      <td><%= user_posts %></td>
      <td><%= user_posts%></td>
    </tr>
  <% end %>
</table>