<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1> Analitic report</h1>
    <%= render partial: 'table'%>
  </body>
</html>